[submodule "readium-sdk"]
	path = readium-sdk
	url = https://github.com/TEA-ebook/readium-sdk.git
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = https://github.com/readium/readium-shared-js.git
[submodule "readium-lcp-client"]
	path = readium-lcp-client
	url = https://github.com/TEA-ebook/readium-lcp-client.git
